<!-- views/partials/head.ejs -->
<!-- This is so we don't have to repeat this block of code in every file -->
<head>
    <link rel="icon" type ="image/png" href="/Media/favicon.png">
    <meta charset="utf-8">
    <title> Chefs Next Door</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/chefs_next_door.css">
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>